<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Barista Project</title>
</head>
<body>
    <h1>Barista Project</h1>
    <form method="post">
        {% csrf_token %}
        {% if etape == 1 %}
            {{ form.as_p }}
            <button type="submit">Suivant</button>
            <p> Données actuelles :</p>
            <p> Utilisateurs : {{ no_lines_users }}</p>
            <p> Produits : {{ no_lines_products }}</p>
            {% if no_lines_products == 0 and no_lines_products == 0%}
            <div>
                <p>Attention !!! Vous devez générer des utilisateurs et des produits avant de continuer</p>
                <button type="submit" name="generate" value="generate">Générer</button>
            </div>
            {% endif %}
            {% if time %}
            <p>Génération terminée en : {{ time }} secondes</p>
            {% endif %}
            <button type="button" id="generateButton">Générer</button>
        {% endif %}
    </form>
</body>
</html>
<script type="text/javascript">
    document.getElementById('generateButton').addEventListener('click', function() {
        window.location.href = "{% url 'generation_url' %}";
    });
</script>

